<div class="container">
    <div class="col-md-6">
        <div class="kode_progress">
            <h6>Serving</h6>
            <div class="progress serving" data-percent="83%">
                <div data-toggle="tooltip" title="83%" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="kode_progress">
            <h6>Conviction</h6>
            <div class="progress conviction" data-percent="70%">
                <div data-toggle="tooltip" title="95%" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="kode_progress">
            <h6>Courage</h6>
            <div class="progress courage" data-percent="90%">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="kode_progress">
            <h6>Sincerity</h6>
            <div class="progress sincerity" data-percent="95%">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                </div>
            </div>
        </div>
    </div>

</div>