<div class="container">
    <div class="kode_hdg_2">
        <h6>Tesitmoinals</h6>
        <h4>Contact With Us</h4>
    </div>

    <div class="row">
        <!--Contact Us Field Wrap Start-->
        <div class="col-md-8">
            <div class="kode_contact_wrap">
                <h5>contact us fields</h5>
                <div class="row">
                    <form method="post" class="comments-form" id="contactform">
                        <div class="col-md-6">
                            <div class="kode_contact_field">
                                <input type="text" name="name" placeholder="Your Name"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="kode_contact_field">
                                <input type="text" name="email" placeholder="Your Email"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="kode_contact_field">
                                <input type="text" placeholder="Your Phone"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="kode_contact_field">
                                <input type="text" placeholder="Your Subject"/>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="kode_contact_field">
                                <textarea name="message" placeholder="Your Message"></textarea>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="kode_contact_field">
                                <button style="color:black">Sent Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Contact Us Field Wrap End-->

        <!--Contact Info Wrap Start-->
        <div class="col-md-4">
            <div class="kode_contact_info kode_contact_wrap">
                <h5>Email Address</h5>
                <i class="fa fa-envelope-o"></i>
                <div class="kode_contact_des">
                    <span><a href="#">contact@swarajindia.org</a></span>
                </div>
            </div>

            <div class="kode_contact_info kode_contact_wrap">
                <h5>Phone</h5>
                <i class="fa fa-phone"></i>
                <div class="kode_contact_des">
                    <span>+91-7210222333</span>
                    <!--<span>(770) 123 566 7899</span>-->
                </div>
            </div>

            <div class="kode_contact_info kode_contact_wrap">
                <h5>Email Address</h5>
                <i class="fa fa-map-marker"></i>
                <div class="kode_contact_des">
                    <span>A-189, Sec-43,</span>
                    <span>Noida, UP</span>
                </div>
            </div>

        </div>
        <!--Contact Info Wrap End-->

    </div>

</div>