<div class="container">

    <ul class="kode_tab_lnk nav nav-tabs" id="tabs" data-tabs="tabs">
        <li class="active"><a data-toggle="tab" href="#about">about</a></li>
        <li><a data-toggle="tab" href="#mission">Mission</a></li>
        <li><a data-toggle="tab" href="#vission">Vision</a></li>
        <li><a data-toggle="tab" href="#plan">Constitution</a></li>
    </ul>

    <div class="kode_wel_outr_wrap tab-content" id="my-tab-content">
        <div class="row tab-pane active" id="about">
            <div class="col-md-5">
                <div class="kode_welcome">
                    <figure>
                        <img th:src="|${s3_static_content_dir}/extra-images/welcome-demo-01.jpg|" alt="Image Here"/>
                    </figure>
                </div>
            </div>

            <div class="col-md-7">
                <div class="kode_wel_demo_des">
                    <h6>About our Party</h6>
                    <h4>Welcome to Swaraj India </h4>
                    <p>
                    <h5>हम</h5>
                    स्वराज अभियान शुभ को सच में बदलने की एक साझी कोशिश है। यह एक सुन्दर देश और दुनिया के सपने को ​हमारी
                    और आने वाली पीढ़ियों के लिए साकार करने का आंदोलन है। यह एक सिलसिला है जो बाहर की दुनिया ​को बदलने के
                    साथ-साथ खुद अपने भीतर बदलाव के लिए भी तैयार है। यह राजनीति ​को युगधर्म मानकर
                    स्वराज की ओर चला एक
                    काफिला है। <br/><br/> <h6>हमारा सपना</h6>
                    हमारे सफर की मंजिल है स्वराज। आज़ादी से पहले स्वराज का मतलब था अंग्रेजों की गुलामी से मुक्ति। आज इसका मतलब है जीवन के हर पहलू में हर किस्म की
                    ​पराधीनता
                    से मुक्ति -- भ्रष्टाचार​ के दानव से
                    मुक्ति, भय और भूख ​की बेड़ियों से
                    मुक्ति, ​शोषण और
                    अन्याय ​के सामने बेबसी
                    से मुक्ति, खुद अपने दिल और दिमाग के बंधनो से मुक्ति। हम ऐसे देश और ऐसी दुनिया का सपना देखते हैं जहां हर इंसान अपनी खुदी को बुलंद कर सके, अपनी खुशी
                    ढूंढ सके, अपनी आत्मा की आवाज़ को सुन और सुना सके। हम ​चाहते हैं
                    एक ऐसी:<br/>

                    राजनैतिक व्यवस्था ​,
                    जहाँ देश और देश का हर राज्य, हर गांव, हर बस्ती अपने-अपने दायरे में आजाद हों, ​हर स्तर पर पारदर्शिता और जवाबदेही हो,
                    जहाँ तंत्र पर लोक का अनुशासन हो।
                    अर्थव्यवस्था ​,
                    </p>
                    <a class="kode_link_3" href="#">See More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

        </div>

        <div class="row tab-pane" id="mission">
            <div class="col-md-5">
                <div class="kode_welcome">
                    <figure>
                        <img th:src="|${s3_static_content_dir}/extra-images/welcome-demo-02.jpg|" alt="Image here"/>
                    </figure>
                </div>
            </div>

            <div class="col-md-7">
                <div class="kode_wel_demo_des">
                    <h6>About our MIssion</h6>
                    <h4>Democracy Mission</h4>
                    <p>Harvard University’s Institute of Politics (IOP), located at the John F. Kennedy School of Government, was established in 1966 as a memorial to
                        President Kennedy. The IOP’s mission is to unite and engage students, particularly undergraduates, with academics, politicians, activists, and
                        policymakers on a non-partisan basis to inspire them to enter careers in politics and public service. The Institute strives to promote greater
                        understanding and cooperation between the academic world and the world of politics and public affairs.</p>
                    <a class="kode_link_3" href="#">See More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

        </div>

        <div class="row tab-pane" id="vission">
            <div class="col-md-5">
                <div class="kode_welcome">
                    <figure>
                        <img th:src="|${s3_static_content_dir}/extra-images/welcome-demo-03.jpg|" alt="Image here"/>
                    </figure>
                </div>
            </div>

            <div class="col-md-7">
                <div class="kode_wel_demo_des">
                    <h6>About our Vision</h6>
                    <h4>Our Democracy Vision</h4>
                    <p>Politics and Vision: Continuity and Innovation in Western Political Thought is a work of political theory by Princeton Emeritus Professor Sheldon
                        S. Wolin. Part One, consisting of ten chapters and first published in 1960, distinguishes political philosophy from philosophy in general and
                        traces political philosophy from its Platonic origins to modern day Part Two, consisting of seven chapters and published (along with Part One)
                        in a 2004 expanded edition, traces the development of political thought from Marx, Nietzsche, and others up to the late 20th century.</p>
                    <a class="kode_link_3" href="#">See More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

        </div>

        <div class="row tab-pane" id="plan">
            <div class="col-md-5">
                <div class="kode_welcome">
                    <figure>
                        <img th:src="|${s3_static_content_dir}/extra-images/welcome-demo-04.jpg|" alt="Image here"/>
                    </figure>
                </div>
            </div>

            <div class="col-md-7">
                <div class="kode_wel_demo_des">
                    <h4>CONSTITUTION OF SWARAJ INDIA</h4>
                    <h6>[As adopted in Foundig Convention, 2nd October 2016, Delhi]</h6>
                    <h6>ARTICLE I: NAME OF THE PARTY</h6>
                    <p>The name of the Party will be SWARAJ INDIA (hereinafter referred to as “the Party”).</p>
                    <h6>ARTICLE II: OBJECTIVES OF THE PARTY</h6>
                    <ul>

                        <li>A. The Party aims to attain Swaraj for and within our country, our society, our globe and our selves.</li>
                        <li>B. For us Swaraj is rule of the self and rule over one’s self, freedom from all forms of
                            dominance and freedom for self-realization at every level of human life, so that we have:
                        </li>
                        <li>(a) Democratic governance that is transparent, accountable, participatory and de-centred</li>
                        <li>(b) Sustainable economic development that encourages human enterprise and ensures well- being for all;</li>


                    </ul>
                    <br/>
                    <a class="kode_link_3" href="#">See More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

        </div>

    </div>
</div>

