<div class="container">
    <div class="kode_hdg_1">
        <h6>Feature Post</h6>
        <h4>Latest Blog Post</h4>
    </div>

    <div class="row kode_latst_post_lst">
        <div class="col-md-6">
            <ul class="post_bxslider">
                <li class="kode_latest_blog">
                    <figure>
                        <a href="/blog-more.html"><img th:src="|${s3_static_content_dir}/images/blogs/yy|" alt="Image here"/></a>
                    </figure>
                    <h6>Protest</h6>
                    <div class="kode_latest_blog_des">
                        <h6><a href="/blog-more.html">Thanks for wishing us failure in traditional politics: Yogendra Yadav</a></h6>
                        <ul>
                            <li><a href="#"><i class="fa fa-comment-o"></i> 12+</a></li>
                            <li><a href="#"><i class="fa fa-heart-o"></i> 33+</a></li>
                            <li><a href="#"><i class="fa fa-heart-o"></i> Nanoevil</a></li>
                        </ul>
                    </div>
                </li>

                <li class="kode_latest_blog">
                    <figure>
                        <a href="/blog-more.html"><img th:src="|${s3_static_content_dir}/images/blogs/Anupam|" alt="Image here"/></a>
                    </figure>
                    <h6>Protest</h6>
                    <div class="kode_latest_blog_des">
                        <h6><a href="#">Join us in the campaign of 2016 </a></h6>
                        <ul>
                            <li><a href="#"><i class="fa fa-comment-o"></i> 12+</a></li>
                            <li><a href="#"><i class="fa fa-heart-o"></i> 33+</a></li>
                            <li><a href="#"><i class="fa fa-heart-o"></i> Nanoevil</a></li>
                        </ul>
                    </div>
                </li>

                <li class="kode_latest_blog">
                    <figure>
                        <a href="/blog-more.html"><img th:src="|${s3_static_content_dir}/images/blogs/Anupam|" alt="Image here"/></a>
                    </figure>
                    <h6>Protest</h6>
                    <div class="kode_latest_blog_des">
                        <h6><a href="#">People’s unity party programm nowadays </a></h6>
                        <ul>
                            <li><a href="#"><i class="fa fa-comment-o"></i> 12+</a></li>
                            <li><a href="#"><i class="fa fa-heart-o"></i> 33+</a></li>
                            <li><a href="#"><i class="fa fa-heart-o"></i> Nanoevil</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>

        <div class="col-md-6">
            <div class="kode_latest_blog kode_blog_style2">
                <figure>
                    <a href="/blog-more.html"><img th:src="|${s3_static_content_dir}/images/blogs/Anupam|" alt="Image here"/></a>
                </figure>
                <h6>CULTURE</h6>
                <div class="kode_latest_blog_des">
                    <h6><a href="/blog-more.html">ज्यादा बड़ी चिंता राष्ट्रीय सुरक्षा पर कांग्रेस – बीजेपी का समझौता है, वरुण गाँधी नहीं </a></h6>
                    <ul>
                        <li><a href="#"><i class="fa fa-comment-o"></i> 12+</a></li>
                        <li><a href="#"><i class="fa fa-heart-o"></i> 33+</a></li>
                        <li><a href="#"><i class="fa fa-heart-o"></i> Nanoevil</a></li>
                    </ul>
                </div>
            </div>

            <div class="kode_latest_blog">
                <figure>
                    <a href="/blog-more.html"><img th:src="|${s3_static_content_dir}/images/blogs/Anupam|" alt="Image here"/></a>
                </figure>
                <h6>CULTURE</h6>
                <div class="kode_latest_blog_des">
                    <h6><a href="#">Economic plan for the next decade</a></h6>
                    <ul>
                        <li><a href="#"><i class="fa fa-comment-o"></i> 12+</a></li>
                        <li><a href="#"><i class="fa fa-heart-o"></i> 33+</a></li>
                        <li><a href="#"><i class="fa fa-heart-o"></i> Nanoevil</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>