<div class="col-md-4">
    <div class="kode_program_list">

        <figure>
            <img th:src="|${s3_static_content_dir}/extra-images/program-02.jpg|" alt="Image Here"/>
        </figure>

        <div class="kode_program_des">
            <h5>PROGRESSIVE PROGRAMS</h5>
            <p>The Era to remove the corruption</p>
            <i class="icon-progress"></i>
        </div>

        <div class="kode_program_hover">
            <h5>PROGRESSIVE PROGRAMS</h5>
            <p>Get details of all our programs which we are carrying to create a change in the society.
            </p>
            <a class="kode_link_2" href="#">See More</a>
        </div>

    </div>
</div>

<div class="col-md-4">
    <div class="kode_program_list">
        <figure>
            <img th:src="|${s3_static_content_dir}/extra-images/program-01.jpg|" alt="Image Here"/>
        </figure>
        <div class="kode_program_des">
            <h5>Membership Zone</h5>
            <p>Explore Membership Features</p>
            <i class="icon-loudspeaker27"></i>
        </div>

        <div class="kode_program_hover">
            <h5>Membership Zone</h5>
            <p>A plethora of services for the members where then take part. If you are not a member, then you can become member here.</p>
            <a class="kode_link_2" href="#">GO</a>
        </div>

    </div>
</div>

<div class="col-md-4">
    <div class="kode_program_list">
        <figure>
            <img th:src="|${s3_static_content_dir}/extra-images/program-03.jpg|" alt="Image Here"/>
        </figure>
        <div class="kode_program_des">
            <h5>DONATION &amp; Contributuion</h5>
            <p>Donate as well as see the list of donors.</p>
            <i class="icon-hospital35"></i>
        </div>

        <div class="kode_program_hover">
            <h5>DONATION &amp; Contributuion</h5>
            <p>Full transparency of funds received by you. Kindly donate us to realize swaraj on ground.</p>
            <a class="kode_link_2" href="#">See More</a>
        </div>

    </div>
</div>
