<!--Banner Wrap Start-->
<div class="kode_banner">
    [[HOME-BIG-SLIDER]]
</div>
<!--Banner Wrap End-->


<!--Content Wrap Start-->
<div class="kode_content">

    <!--Program List Wrap Start-->
    <div class="kode_program_bg">
        [[HOME-PROGRAMME]]
    </div>
    <!--Program List Wrap Start-->


    <!--Welcome to Democracy Wrap Start-->
    <section class="kode_welcome_bg"/>
    [[HOME-WELCOME]]
</div>
<!--Welcome to Democracy Wrap End-->


<!--What we Do Wrap Start-->
<!--<div th:include="./home/home-what-we-do" class="kode_wht_otr_wrap">-->
<!--[[HOME-WHAT-WE-DO]]-->
<!--</div>-->
<!--What we Do Wrap End-->


<!--News &amp; Press Release Wrap Start-->
<section class="kode_news_bg">
    [[HOME-PRESS]]
</section>
<!--News &amp; Press Release Wrap End-->


<!--Our Latest Work Wrap Start-->
<section class="kode_latest_wrk_bg">
    [[HOME-VISION]]
</section>
<!--Our Latest Work Wrap End-->


<!--Become member Now Wrap Start-->
<section class="kode_purchase_bg">
    [[HOME-BECOME-MEMBER]]
</section>
<!--Become member Now Wrap End-->


<!--Our Political Campagin Wrap Start-->
<section class="kode_politician_bg">
    [[HOME-POLITICAL-CAMPAIGN]]
</section>
<!--Our Political Campagin Wrap End-->


<!--Our Top Politician Wrap Start-->
<div class="kode-team-testi">
    [[HOME-OUR-TEAM]]
</div>
<!--Our Top Politician Wrap End-->


<!--Progress Bar Wrap Start-->
<!--<section class="kode_progress_bg" >-->
<!--[[HOME-PROGRESS]]-->
<!--</section>-->
<!--Progress Bar Wrap Start-->


<!--Count Up Wrap Start-->
<section class="kode_countup_bg">
    [[HOME-COUNTER]]
</section>
<!--Count Up Wrap End-->


<!--Latest Blog Post Wrap Start-->
<section class="kode_latest_outer_wrap">
    [[HOME-BLOG]]
</section>
<!--Latest Blog Post Wrap End-->

<!--Latest Video Wrap Start-->
<div class="kode_video_bg">
    [[HOME-VIDEO]]
</div>
<!--Latest Video Wrap End-->

<!--Donate Now 2 Wrap Start-->
<section class="kode_purchase2_bg">
    [[HOME-DONATE]]
</section>
<!--Donate Now 2 Wrap End-->


<!--Comming Up Election Wrap Start-->
<!--<section class="kode_counter_bg" >-->
<!--[[HOME-ELECTION]]-->
<!--</section>-->
<!--Comming Up Election Wrap End-->


<!--Testimonial Wrap Start-->
<!--<section class="kode_testimonial_bg" >-->
<!--[[HOME-TESTIMONIAL]]-->
<!--</section>-->
<!--Testimonial Wrap End-->

<!--FAQ Wrap Start-->
<section class="wrapper100percent section2" id="6">
    [[HOME-FAQ]]
</section>
<!--FAQ Wrap End-->

<!--Contact With Us Wrap Start-->
<section class="kode_contact_bg">
    [[HOME-CONNECT]]
</section>
<!--Contact With Us Wrap End-->
