<div class="row">
    <div class="col-md-6 col-sm-6">
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="kode_wht_des">
            <h6>Our Area of Work</h6>
            <h4>What We Do</h4>
            <ul id="bxslider">
                <li>
                    <a href="#"><span><i class="icon-justice4"></i></span></a>
                    <div class="kode_wht_icon_des">
                        <h6><a href="#">Justice System</a></h6>
                        <p>Our mission is to create a society in which an informed and active citizenry is sovereign and makes policy decisions based on the will of the
                            majority.</p>
                    </div>
                </li>

                <li>
                    <a href="#"><span><i class="icon-police22"></i></span></a>
                    <div class="kode_wht_icon_des">
                        <h6><a href="#">Police System</a></h6>
                        <p>We will build democracy through activism and education and change the law to ensure that political processes are controlled by citizens. </p>
                    </div>
                </li>

                <li>
                    <a href="#"><span><i class="icon-justice4"></i></span></a>
                    <div class="kode_wht_icon_des">
                        <h6><a href="#">Law &amp; Order System</a></h6>
                        <p>We oppose discrimination based on race, color, spiritual belief, gender,sexual orientation, age, physical ability, and national origin.</p>
                    </div>
                </li>

                <li>
                    <a href="#"><span><i class="icon-police22"></i></span></a>
                    <div class="kode_wht_icon_des">
                        <h6><a href="#">Health System</a></h6>
                        <p>A sound &amp; healthy state is the one in which government recognizes and protects the independent responsibilities that belong to people.</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
