<div class="container">
    <div class="kode_hdg_1">
        <h6>Count Down</h6>
        <h4>Upcoming Elections</h4>
    </div>


    <div class="kode_coming_election">
        <div class="kode_counter_caption">
            <h5>Delhi MCD Elections Start In:</h5>
            <ul class="countdown">
                <li>
                    <span class="days">00</span>
                    <p class="days_ref">Week</p>
                </li>
                <li>
                    <span class="hours">00</span>
                    <p class="hours_ref">Days</p>
                </li>
                <li>
                    <span class="minutes">00</span>
                    <p class="minutes_ref">Hours</p>
                </li>
                <li>
                    <span class="seconds last">00</span>
                    <p class="seconds_ref">Second</p>
                </li>
            </ul>
        </div>
    </div>


</div>