<div class="container">
    <div class="kode_hdg_1">
        <h4>Our Team</h4>
    </div>

    <!--Work List Wrap Start-->
    <div id="owl-demo3" class="owl-carousel owl-theme kode_work_outr">
        <div class="item">
            <div class="kode_work_wrap">
                <figure>
                    <!--<a href="team-detail.templates"><img src="images/SwarajTeam/media-team.png" alt="Image Here"/></a>-->
                    <img th:src="|${s3_static_content_dir}/images/SwarajTeam/Calling-Team.png|" alt="Image here"/>

                    <!--<figcaption class="kode_work_hover">-->
                    <!--<a data-rel="prettyPhoto[]" href="extra-images/work-01.jpg"><i class="icon-add52"></i></a>-->
                    <!--</figcaption>-->
                </figure>
                <!--<div class="kode_politician_des">
                    <h6><a href="team-detail.templates">Media Team</a></h6>
                </div>-->
            </div>
        </div>

        <div class="item">
            <div class="kode_work_wrap">
                <figure>
                    <a href="team-detail.templates"><img th:src="|${s3_static_content_dir}/images/SwarajTeam/Email-Team.png|" alt="Image here"/></a>
                </figure>

            </div>
        </div>

        <div class="item">
            <div class="kode_work_wrap">
                <figure>
                    <!-- <a href="team-detail.templates"><img src="images/SwarajTeam/Calling-Team.png" alt="Image Here"/></a>-->
                    <img th:src="|${s3_static_content_dir}/images/SwarajTeam/Calling-Team.png|" alt="Image here"/>


                </figure>
            </div>
        </div>

        <div class="item">
            <div class="kode_work_wrap">
                <figure>
                    <a href="team-detail.templates"><img th:src="|${s3_static_content_dir}/images/SwarajTeam/IT-Team.png|" alt="Image Here"/></a>
                </figure>
            </div>
        </div>
        <div class="item">
            <div class="kode_work_wrap">
                <figure>
                    <!-- <img th:src="|${s3_static_content_dir}/extra-images/politician-06.jpg|" alt="Image here"/>
                     <figcaption class="kode_work_hover">
                         <a data-rel="prettyPhoto[]" th:href="|${s3_static_content_dir}/extra-images/banner-01.jpg|"><i class="icon-add52"></i></a>
                     </figcaption>-->
                    <a href="team-detail.templates"><img th:src="|${s3_static_content_dir}/images/SwarajTeam/Fundraising-Team.png|" alt="Image Here"/></a>
                </figure>
            </div>
        </div>
        <div class="item">
            <div class="kode_work_wrap">
                <figure>
                    <a href="team-detail.templates"><img th:src="|${s3_static_content_dir}/images/SwarajTeam/Internal-Comm.png|" alt="Image Here"/></a>
                </figure>

            </div>
        </div>
        <div class="item">
            <div class="kode_work_wrap">
                <figure>
                    <a href="team-detail.templates"><img th:src="|${s3_static_content_dir}/images/SwarajTeam/National-Steering-Commitee-(NSC).png|" alt="Image Here"/></a>
                </figure>

            </div>
        </div>
        <div class="item">
            <div class="kode_work_wrap">
                <figure>
                    <a href="team-detail.templates"><img th:src="|${s3_static_content_dir}/images/SwarajTeam/National-Working-Committee-(NWC).png|" alt="Image Here"/></a>
                </figure>

            </div>
        </div>

        <div class="item">
            <div class="kode_work_wrap">
                <figure>
                    <a href="team-detail.templates"><img th:src="|${s3_static_content_dir}/images/SwarajTeam/PolicyResearch.png|" alt="Image Here"/></a>
                </figure>
            </div>
        </div>

        <div class="item">
            <div class="kode_work_wrap">
                <figure>
                    <a href="team-detail.templates"><img th:src="|${s3_static_content_dir}/images/SwarajTeam/Secretariat-Team.png|" alt="Image Here"/></a>
                </figure>
            </div>
        </div>
        <div class="item">
            <div class="kode_work_wrap">
                <figure>
                    <a href="team-detail.templates"><img th:src="|${s3_static_content_dir}/images/SwarajTeam/Social-Media.png|" alt="Image Here"/></a>
                </figure>
            </div>
        </div>
        <div class="item">
            <div class="kode_work_wrap">
                <figure>
                    <a href="team-detail.templates"><img th:src="|${s3_static_content_dir}/images/SwarajTeam/Volunteer-Relation.png|" alt="Image Here"/></a>
                </figure>
            </div>
        </div>
    </div>
    <!--Work List Wrap End-->
</div>