<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="kode_countup">
                <i class="fa fa-users"></i>
                <h3 class="counter">659,350</h3>
                <p>Members</p>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="kode_countup">
                <i class="fa fa-pie-chart"></i>
                <h3 class="counter">326,575</h3>
                <p>Website</p>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="kode_countup">
                <i class="fa fa-microphone"></i>
                <h3 class="counter">356,145</h3>
                <p>Visitors</p>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="kode_countup">
                <i class="fa fa-paper-plane"></i>
                <h3 class="counter">651,506</h3>
                <p>Meetings</p>
            </div>
        </div>

    </div>
</div>