<div class="sectionwrapper"></div>
<div class="container">
    <div class="row startAnimation animated" data-animate="fadeInUp">
        <div class="col-lg-12">
            <div class="mainheadlinewrapper">
                <div class="mainheadline textleft startAnimation animated" data-animate="fadeInUp">
                    <h3 style="color:rgba(255, 255, 255, 0.9);margin-top: -34px;">Frequently Asked Questions</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container startAnimation animated" data-animate="fadeInUp">
    <div class="row">
        <!-- one row -->
        <div class="onelist col-lg-6">
            <div class="faqicon">
                <p>01.</p>
            </div>
            <div class="eventstext">
                <h6 style="color:yellow;">Who can Become Member of Swaraj India?</h6>
                <p style="color:rgba(255, 255, 255, 0.9)">
                    Membership of the Party is open to any Indian without discrimination as to age, caste, ethnic origin,
                    <a href="/faq-more.html">See More <i class="fa fa-angle-right"></i></a>

                </p>
            </div>
        </div>
        <!-- one row -->
        <div class="onelist col-lg-6">
            <div class="faqicon">
                <p>02.</p>
            </div>
            <div class="eventstext">
                <h6 style="color:yellow;">What are the Measures Taken to ...
                </h6>
                <p style="color:rgba(255, 255, 255, 0.9)">
                    We are striving to achieve 100% transparancy. To begin with we have made out funding
                    <a href="/faq-more.html">See More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
        </div>
        <!-- one row end -->
        <!-- one row -->
        <div class="onelist col-lg-6">
            <div class="faqicon">
                <p>03.</p>
            </div>
            <div class="eventstext">
                <h6 style="color:yellow;">What are the Ways to Register Grievances?
                </h6>
                <p style="color:rgba(255, 255, 255, 0.9)">
                    If you have any grievance you can send us the details along with supporting evidences on grievance@swarajindia.org
                    <a href="/faq-more.html">See More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
        </div>
        <!-- one row end -->
        <!-- one row -->
        <div class="onelist col-lg-6">
            <div class="faqicon">
                <p>04.</p>
            </div>
            <div class="eventstext">
                <h6 style="color:yellow;">How can I Volunteer for Swaraj India ?
                </h6>
                <p style="color:rgba(255, 255, 255, 0.9)">
                    To register as volunteer kindly login to your account and fill the volunteer form.
                    <a href="/faq-more.html">See More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
        </div>
        <!-- one row end -->
        <!-- one row -->
        <div class="onelist col-lg-6">
            <div class="faqicon">
                <p>05.</p>
            </div>
            <div class="eventstext">
                <h6 style="color:yellow;">What is the Relation Between Swaraj India..
                </h6>
                <p style="color:rgba(255, 255, 255, 0.9)">
                    Swaraj Abhiyan is the mother organization which launched its political wing to fight for bringing
                    <a href="/faq-more.html">See More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
        </div>
        <!-- one row end -->
        <!-- one row -->
        <div class="onelist col-lg-6">
            <div class="faqicon">
                <p>06.</p>
            </div>
            <div class="eventstext">
                <h6 style="color:yellow;">From Where I can Get All Documents..
                </h6>
                <p style="color:rgba(255, 255, 255, 0.9)">
                    You Can download all materials from the Downloads Section of our Website. Please Click Here
                    <a href="/faq-more.html">See More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
        </div>
        <!-- one row end -->
    </div>
</div>