<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="scripts">
        <!-- jQuery -->
        <script src="https://s3.ap-south-1.amazonaws.com/si-member/admin/vendor/jquery/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="https://s3.ap-south-1.amazonaws.com/si-member/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="https://s3.ap-south-1.amazonaws.com/si-member/admin/vendor/metisMenu/metisMenu.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="https://s3.ap-south-1.amazonaws.com/si-member/admin/dist/js/sb-admin-2.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/controller.js"></script>
    </div>
</head>
<body>

</body>
</html>