<!--Bootstrap core JavaScript-->

<script th:src="|${s3_static_content_dir}/js/jquery.js|"></script>
<script th:src="|${s3_static_content_dir}/js/bootstrap.js|"></script>
<!--Bx-Slider JavaScript-->
<script th:src="|${s3_static_content_dir}/js/jquery.bxslider.min.js|"></script>
<!--Time Counter JavaScript-->
<script th:src="|${s3_static_content_dir}/js/jquery.downCount.js|"></script>
<!--Owl Carousel JavaScript-->
<script th:src="|${s3_static_content_dir}/js/owl.carousel.min.js|"></script>
<!--waypoints JavaScript-->
<script th:src="|${s3_static_content_dir}/js/waypoints-min.js|"></script>
<!--Pie Circle JavaScript-->
<script th:src="|${s3_static_content_dir}/js/pie.js|"></script>
<!--Accordian JavaScript-->
<script th:src="|${s3_static_content_dir}/js/jquery.accordion.js|"></script>
<!--Custom TimeCircle-->
<script th:src="|${s3_static_content_dir}/js/TimeCircles.js|"></script>
<!--Pretty Photo Script-->
<script th:src="|${s3_static_content_dir}/js/jquery.prettyPhoto.js|"></script>
<!--Pretty Photo Script-->
<script th:src="|${s3_static_content_dir}/js/jquery-filterable.js|"></script>
<!--Dl Menu Script-->
<script th:src="|${s3_static_content_dir}/js/dl-menu/modernizr.custom.js|"></script>
<!--Dl Menu Script-->
<script th:src="|${s3_static_content_dir}/js/dl-menu/jquery.dlmenu.js|"></script>
<!--Map Script-->
<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<!--Full Calender Script-->
<script th:src="|${s3_static_content_dir}/js/moment.min.js|"></script>
<!--Full Calender Script-->
<script th:src="|${s3_static_content_dir}/js/fullcalendar.min.js|"></script>
<!--Custom JavaScript-->
<script th:src="|${s3_static_content_dir}/js/custom.js|"></script>
