<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<div th:fragment="domain">
    <button type="button" class="btn btn-primary pull-right" ng-show="showTable" ng-click="newDomain()"><i class="fa fa-plus"></i> Add Domain
    </button>
    <table width="100%" class="table table-striped table-bordered table-hover col-xs-12 col-sm-6 col-md-4 col-lg-4" id="dataTables-example" ng-show="showTable">
        <thead>
        <tr>
            <th>Domain Name</th>
            <th>Active</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="oneDomain in domains" class="odd gradeX">
            <td>{{oneDomain.name}}</td>
            <td>{{oneDomain.active}}</td>
            <td><input type="button" class="btn btn-default" value="Update" ng-click="editDomain(oneDomain)"/></td>
        </tr>

        </tbody>
    </table>

    <form ng-submit="saveDomain()" ng-hide="showTable" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <fieldset>
            <div class="form-group">
                <label>Domain Name</label>
                <input class="form-control" placeholder="Domain Name" name="name" autofocus="true" ng-model="selectedDomain.name"/>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" ng-model="selectedDomain.active"/>Active
                </label>
            </div>

            <input type="submit" class="btn btn-primary col-xs-6 col-sm-6 col-md-4 col-lg-4" value="Save"/>
            <input type="button" class="btn btn-default col-xs-6 col-sm-6 col-md-4 col-lg-4" value="Cancel" ng-click="cancel()"/>

        </fieldset>

    </form>
</div>
</body>
</html>