<!--Become a Volunteer Wrap Start-->
<section class="kode_volunteer_bg">
    <div class="container">
        <div class="kode_hdg_3">
            <h6>give your best time </h6>
            <h4>become a volunteer</h4>
        </div>

        <div class="kode_volunteer">
            <p>Join us in the fight for a better tomorrow. It’s easy, fun and we need you. Make a difference and help create change for our children’s future,
                plus the economy. Join today.</p>
        </div>
        <div class="kode_volunteer_btn">
            <a class="donate" href="#">
                <i class="icon-liquid15"></i>
                <span>Donate Today</span>
            </a>
            <a class="kf_volunteer" href="#">
                <i class="fa fa-user"></i>
                <span>Become voluntree</span>
            </a>
        </div>

    </div>
</section>
<!--Become a Volunteer Wrap End-->