<div class="kode_newsletter_bg">
    <div class="container">
        <div class="kode_newsletter_des">
            <h5>Subcribe Our</h5>
            <h3>Newsletter</h3>
        </div>
        <div class="kode_newsletter_form">
            <form>
                <input class="placeholder2" type="text" placeholder="Enter your email Here"/>
                <button><i class="fa fa-send"></i></button>
            </form>
        </div>
    </div>
</div>

<div class="kode_footer_bg">
    <div class="container">
        <!--Footer Logo Wrap Start-->
        <div class="kode_footer_logo">
            <figure>
                <a href="#"><img th:src="|${s3_static_content_dir}/images/footer-logo.png|" alt="Image here"/></a>
            </figure>
            <ul>
                <li><a href="https://www.facebook.com/swarajabhiyan" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <!--Footer Logo Wrap End-->

        <!--Footer Widget Wrap Start-->
        <div class="kode_widgt_outr_wrap">
            <div class="row">
                <div class="col-md-3">
                    <div class="kode_widgt_touch widget_hdg">
                        <h5>facabook</h5>

                        <div class="fbBlock">
                            <iframe src="//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/swarajabhiyan&amp;width&amp;height=430&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=607545139264444"
                                    scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:430px; width: 100%;" allowTransparency="true"></iframe>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="kode_widgt_tweets widget_hdg">
                        <h5>twitter</h5>

                        <div class='twrBlock'>
                            <a class="twitter-timeline" href="https://twitter.com/swaraj_abhiyan" data-widget-id="591375821736120321">Tweets by @swaraj_abhiyan</a>
                            <script>
                                        !function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http': 'https';if (!d.getElementById(id)) {js = d.createElement(s);js.id = id;js.src = p+ "://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js, fjs);}}(document, "script", "twitter-wjs");


                            </script>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="kode_widgt_event widget_hdg">
                        <h5>Recent Event</h5>
                        <ul>
                            <li>
                                <figure>
                                    <a href="#"><img th:src="|${s3_static_content_dir}/extra-images/footer-event-01.jpg|" alt="Image here"/></a>
                                </figure>
                                <div class="kode_foo_event_des">
                                    <a href="#">his is Photoshop's version of Lorem Ipsum. Proin gravida..</a>
                                    <span>2 October 2015</span>
                                </div>
                            </li>

                            <li>
                                <figure>
                                    <a href="#"> <img th:src="|${s3_static_content_dir}/extra-images/footer-event-01.jpg|" alt="Image here"/></a>
                                </figure>
                                <div class="kode_foo_event_des">
                                    <a href="#">his is Photoshop's version of Lorem Ipsum. Proin gravida..</a>
                                    <span>2 October 2015</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="kode_foo_gallery widget_hdg">
                        <h5>Gallery Image</h5>
                        <ul>
                            <li><a href="#"><img th:src="|${s3_static_content_dir}/extra-images/instagram-01.jpg|" alt="Image here"/></a></li>
                            <li><a href="#"><img th:src="|${s3_static_content_dir}/extra-images/instagram-02.jpg|" alt="Image here"/></a></li>
                            <li><a href="#"><img th:src="|${s3_static_content_dir}/extra-images/instagram-03.jpg|" alt="Image here"/></a></li>
                            <li><a href="#"><img th:src="|${s3_static_content_dir}/extra-images/instagram-04.jpg|" alt="Image here"/></a></li>
                            <li><a href="#"><img th:src="|${s3_static_content_dir}/extra-images/instagram-05.jpg|" alt="Image here"/></a></li>
                            <li><a href="#"><img th:src="|${s3_static_content_dir}/extra-images/instagram-06.jpg|" alt="Image here"/></a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
        <!--Footer Widget Wrap End-->

        <!--Footer Site map Wrap Start-->
        <div class="kode_site_map">
            <ul>
                <li><a href="index.templates">Home</a></li>
                <li><a href="about-us.templates">About</a></li>
                <li><a href="event.templates">Event</a></li>
                <li><a href="press-release.templates">Press Releases</a></li>
                <li><a href="team.templates">Teams</a></li>
                <li><a href="services.templates">Programs</a></li>
                <li><a href="Downloads.html">Downloads</a></li>
                <li><a href="contact-us.templates">Contact us</a></li>


            </ul>
        </div>
        <!--Footer Site map Wrap End-->

        <!--Copy Right Wrap Start-->
        <div class="kode_copyright">
            <p>Copyright © 2016 Swaraj Abhiyan. All Rights Reserved. <!--<span><a href="#">Swaraj India</a></span>--> </p>
            <a class="kode-back-top" href="#"><i class="fa fa-angle-up"></i></a>
        </div>
        <!--Copy Right Wrap End-->

    </div>
</div>
