<!--Top Strip Wrap Start-->
<div class="kode_top_strip" style="background-color:black;">
    <div class="container">
        <div class="kode_cnt_info">
            <ul>
                <li style="color:#fff;"><i class="fa fa-phone" style="color:#fff;"></i> +91-7210222333</li>
                <li style="color:#fff;"><i class="fa fa-map-marker" style="color:#fff;"></i> A-189, Sec-43, Noida, UP</li>
            </ul>
        </div>

        <div class="kode_scl_icon">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="/signup.html">Sign Up</a></li>
                <li><a href="/login.html">Sign In</a></li>
            </ul>
        </div>
    </div>
</div>
<!--Top Strip Wrap End-->

<!--Navigation Wrap Start-->
<div class="kode_navigation_outr_wrap" style="background-color: rgba(227, 60, 28, 0.8);">
    <div class="container">
        <!--Logo Wrap Start-->
        <div class="kode_logo">
            <a href="index.templates"><img th:src="|${s3_static_content_dir}/images/logo.png|" alt="Logo Image Here"/></a>
        </div>
        <!--Logo Wrap Start-->
        <!--Navigation Wrap Start-->
        <div class="kode_ui_element">
            <!--Navigation Wrap Start-->
            <div class="kode_menu">
                <ul>
                    <li class="active"><a href="/index.html" class="swaraj" title="Home">Home</a></li>

                    <li><a href="about-us.templates" class="swaraj">About Us</a>
                        <ul>
                            <li><a href="#">Vision <i class="glyphicon glyphicon-chevron-right" style="margin-left:68%"></i></a>
                                <ul>
                                    <li><a href="/vision-eng.html">English</a></li>
                                    <li><a href="/vision-hindi.html">Hindhi </a></li>
                                </ul>
                            </li>
                            <li><a href="#">Constitution <i class="glyphicon glyphicon-chevron-right" style="margin-left:45%"></i></a>

                                <ul>
                                    <li><a href="/constitution.html">English</a></li>
                                    <li><a href="#">Hindhi </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Minutes Of Meetings <i class="glyphicon glyphicon-chevron-right" style="margin-left:20%"></i></a>
                                <ul>
                                    <li><a href="/about-sub-news.html"> 9th National Working Committee (NWC) Meeting (27-28 Aug)</a></li>
                                    <li><a href="/about-sub-news.html"> 8th National Working Committee (NWC) Meeting (30-31 Jul)</a></li>
                                    <li><a href="/about-sub-news.html">Resolution of 1st Swaraj Samwad</a></li>
                                    <li><a href="/about-sub-news.html">All</a></li>
                                </ul>
                            </li>

                            <li><a href="/accounts.html">Accounts</a></li>
                            <li><a href="/memberlist.html">Members</a></li>
                        </ul>
                    </li>
                    <li><a href="/events.html" class="swaraj" title="Events">Events</a></li>

                    <li><a href="/pressRelease.html" class="swaraj" title="Press-Releases">Press-Releases</a></li>
                    <li><a href="/team.html" class="swaraj" title="Team">Teams</a>
                        <ul>
                            <li><a href="/team.html">National Teams</a></li>
                            <li><a href="/team.html">State Teams</a></li>
                            <li><a href="/team.html">Presidium</a></li>
                            <li><a href="/team.html">National Executive </a></li>
                            <li><a href="/team.html">National Council</a></li>
                            <li><a href="/team.html">National Advisory Committee</a></li>
                            <li><a href="/team.html">PIO</a></li>
                            <li><a href="/team.html">National Disciplinary Committee</a></li>
                            <li><a href="/team.html">National Grievance Redressal Cell</a></li>
                        </ul>

                    </li>
                    <li>
                        <a href="#" title="Programs">Programs </a>
                        <!-- Shop Dropdown Menu -->
                        <ul>
                            <li>
                                <a href="https://www.anticorruptionteam.org/ " title="Anti-Corruption Team">Anti-Corruption Team</a>
                            </li>

                            <li>
                                <a href="#">Jai Kisan Andolan</a>
                            </li>
                            <li>
                                <a href="#">Shiksha Swaraj</a>
                            </li>
                            <li>
                                <a href="/programs-vision-for-india.html">Vision for India</a>
                            </li>

                        </ul>
                        <!-- Ends Shop Dropdown Menu -->
                    </li>

                    <li class="swaraj"><a href="/elections.html">Elections</a></li>
                    <li class="swaraj"><a href="/contactus.html">Contact Us</a></li>
                </ul>
            </div>
            <!--Navigation Wrap End-->
            <!--DL Menu Start-->
            <div id="kode-responsive-navigation" class="dl-menuwrapper">
                <button class="dl-trigger">Open Menu</button>
                <ul class="dl-menu">
                    <li class="active"><a href="index.templates">Home</a></li>
                    <li><a href="#">AboutUs</a>
                        <ul class="dl-submenu">
                            <li>
                                <a href="#">Vision</a>
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Hindhi </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Constitution</a>

                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Hindhi </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Minutes Of Meetings</a>
                                <ul>
                                    <li><a href="/about-sub-news.html"> 9th National Working Committee (NWC) Meeting (27-28 Aug)</a></li>
                                    <li><a href="/about-sub-news.html"> 8th National Working Committee (NWC) Meeting (30-31 Jul)</a></li>
                                    <li><a href="/about-sub-news.html">Resolution of 1st Swaraj Samwad</a></li>
                                    <li><a href="/about-sub-news.html">All</a></li>
                                </ul>
                            </li>
                            <li><a href="/accounts.html">Accounts</a></li>
                            <li><a href="/memberlist.html">Members</a></li>
                        </ul>
                    </li>
                    <li class="menu-item kode-parent-menu"><a href="#">Programs</a>
                        <ul class="dl-submenu">
                            <li>
                                <a href="#">Anti-Corruption Team</a>
                            </li>

                            <li>
                                <a href="#">Jai Kisan Andolan</a>
                            </li>
                            <li>
                                <a href="#">Shiksha Swaraj</a>
                            </li>
                            <li>
                                <a href="/programs-vision-for-india.html">Vision for India</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="contact-us.templates">Contact Us</a></li>
                </ul>
            </div>
            <div class="kode_search">
                <a class="search-fld" href="#"><i class="fa fa-search"></i></a>
                <div class="search-wrapper-area">
                    <form class="search-area">
                        <input type="text" placeholder="search here"/>
                        <input type="submit" value="Go"/>
                    </form>
                </div>
            </div>
            <!--Search Wrap Start-->
        </div>
        <!--Navigation Wrap End-->
    </div>
</div>
<!--Navigation Wrap End-->